.template-obras {
    .thumbnail-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, 340px);
        gap: 60px;

        @media #{$media-mobile} { 
            grid-template-columns: calc(100vw - 70px);
            justify-content: center;
        }

        list-style: none;
        padding: 0;
        .cover-img {
            margin-left: 20px;
            @media #{$media-mobile} { 
                margin-left: auto;
                margin-right: auto;
            }
        }

        li a {
            font-size: 25px;
            text-decoration: none!important;
            color: $pink;
            font-family: cursive;
            text-align: center;
            display: flex;
            flex-direction: column;

            h2 {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                margin-bottom: 0.2em;
                min-height: 90px;
            }

            .cover-img {
                transition: outline-color 1s ease, border-color 1s ease;
            }

        }

        li a:hover, 
        li a:active,
        li a:focus {
            h2 {
                color: $blue;
            }
            .cover-img {
                animation: tremble 2s ease infinite;
                outline-color: $blue;
                border-color: $blue;
            }
        }
        @keyframes tremble {          
            50% {
                outline-width: 15px;
            }
        }

    }
}