h1 {
    color: hotpink;
    font-family: cursive;
  }

  body{
    background-color:black;
  }

  ::placeholder {
    color: gray;
  }
  
  body {
    height: 100vh;
    color: #1f1f1f;
    background: linear-gradient(to bottom, #bada55, #c0ffee);
  }

  .logo {
    background-image: url(img/logo.png);
    background-size: contain;
    height: 300px;
    width: 300px;
    transition: all 0.5s ease;
  }

  .logo:hover {
    filter: invert(1);
  }