@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

html {
  font-size: clamp(15px, 2vw, 30px);
  background: white;
}

body {
  min-height: 100vh;
  color: #1f1f1f;
  background: linear-gradient(to bottom, #bada55, #c0ffee);
  font-family: 'Karla';

  margin: 0;
  padding: max(5vw, 1rem);
}

main {
  max-width: 1000px;
  margin: 0 auto;
}

h1, .volver a {
  color: hotpink;
  font-family: cursive;
  transition: color 0.5s ease;
}


a {  
  text-decoration: none;
  color: inherit;
}

p a, li a, p a:visited, li a:visited {  
  text-decoration: underline;
  color: inherit;
}

a:hover, a:active, a:focus,
p a:hover, p a:active, p a:focus,
li a:hover, li a:active, li a:focus,
a:hover h1, a:active h1, a:focus h1 {
  color: rgb(135, 200, 228);
}


p, ul, blockquote {
  margin: 4em 0;
}

p:first-of-type {
  margin-top: 0;
}

figure {
  margin: 3.5em 0 4.5em 0;
}

h1 {
  margin: 0;
}

h2, h3 {
  margin: 2em 0 1em 0;
}

figure, img, blockquote {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: auto;
  max-height: 50vw;
}

p {
  max-width: max(60%, 250px);
  margin-left: 0;
  margin-right: auto;
}

p:nth-of-type(2n) {
  margin-right: 0;
  margin-left: auto;
  text-align: right;
}

.volver {
  margin: 3em 0 0.5em 0;
}

figcaption {
  text-align: center;
  font-size: 0.8em;
  letter-spacing: -0.015em;
  margin-top: 0.5em;
}

blockquote {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  padding: 1.2em;
  border-radius: 20px;
  text-align: center;
}

blockquote .q {
  font-weight: 500;
  font-size: 1.5em;
  position: relative;
  letter-spacing: -0.01em;
}

blockquote .q::before, blockquote .q::after {
  font-weight: bold;
  font-family: 'Times New Roman', serif;
  margin: 0 0.1em;
}

blockquote .q::before { content: '“'; }
blockquote .q::after { content: '”'; }

blockquote cite {
  display: block;
  margin-top: 1em;
}

.iframe-figure {
  position: relative;
  display: block;
  height: 55vw;
}

iframe {
  width: 100%;
  display: block;
  height: 50vw;
}

.template-listings p,
.template-listings ul {
  margin: 2em 0;
}