/* creación de la jaula */ 

#cage {
    width: 100%;
    height: 80vw;
    max-width: 800px;
    max-height: 600px;
    margin: 0 auto 8vw auto;
    border: 10px solid white;
    overflow: hidden;
    position: relative;
    cursor: help;
    transition: border-width 0.7s ease;

    #title{
        position: absolute;
        display: block;
        width: max-content;
        transform: translate(-50%, -50%);
        top : 50%;
        left: 50%;
        padding-bottom: 20px; // compensate border (x2)

        color: white;
        transition: all 0.5s ease-in-out;
    }
}
  
#cage:hover {
    border-width: 30px;

    #title{
        color: hotpink;
        transition: color 0.7s ease, padding-bottom 0.7s ease;
        padding-bottom: 60px; // compensate thicker border (x2)
    }
}
