/* creación de la jaula */ 

#cage {
    width: 100%;
    height: 80vw;
    max-width: 800px;
    max-height: 600px;
    margin: 0 auto 8vw auto;
    border: 1px solid white;
    overflow: hidden;
    position: relative;
    cursor: help;
    transition: background-color 0.7s ease;

    #title{
        position: absolute;
        display: block;
        width: max-content;
        transform: translate(-50%, -50%);
        top : 50%;
        left: 50%;

        color: white;
        transition: none;
    }
}
  
#cage:hover {
    border-color: transparent;
    background-color:rgba(255,255,255, 0.15);

    #title{
        color: hotpink;
        transition: color 0.7s ease;
    }
}
